
# Allow CORS Origin
ALLOW_CORS_ORIGIN=

# Database Connection
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DRIVER_CLASS_NAME=

# JWT Generate a strong secret for production, e.g.: openssl rand -hex 32
APP_JWT_SECRET=
APP_JWT_EXPIRATION_MS=
APP_JWT_REFRESH_EXPIRATION_MS=

# Encryption Must be exactly 32 characters for AES-256
APP_ENCRYPTION_KEY=
